//Sizes
$nav-height: 76px;

//Font Size
$font-size-1: 24px;
$font-size-2: 18px;
$font-size-3: 32px;

//Font Families
$font-family-1: OpenSansRegular, sans-serif;
$font-family-2: OpenSansSemibold, sans-serif;
$font-family-3: Lobster, $font-family-2;

//Colors
$color-1: #444;
$color-2: #fff;
$color-3: darken(#F9BD3C, 5);
$color-4: whitesmoke;

$base-color: $color-3;
$base-color-contrast: $color-2;
$color-link: $color-3;
$color-link-visited:darken($color-3, 30);
$countdown-color: lighten($base-color, 20);
$shadow-color: rgba(#444, .5);

//Media Queries
$mobile: all and (min-width: 400px);