//Sizes
$nav-height: 76px;

//Font Families
$font-family-1: OpenSansRegular, sans-serif;
$font-family-2: OpenSansSemibold, sans-serif;

//Colors
$base-color: #BE4E4C;
$color-1: #444;
$color-link: #ab12ea;
$color-link-visited: #ab12ea;
$countdown-color: $base-color;