//############################################
// Placeholders
//############################################

%display-flex {
    display: flex;
}

%display-flex-cc {
    @extend %display-flex;
    align-items: center;
    justify-content: center;
}

%display-flex-cc-c {
    @extend %display-flex-cc;
    flex-direction: column;
}

//############################################
// General Styles
//############################################

*, * * {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $color-link;
}

.section {
    min-height: 100vh;
    background: whitesmoke;
    padding: 30px 20px;
    
    transform: translateZ(0);
    transition: transform 0.6s ease-in-out;
    backface-visibility: hidden;
    
    &-small {
        min-height: 50vh;
    }
    
    &-bgw {
        background: white;
    }
    
    h1 {
        text-align: center;
        font-family: $font-family-3;
        font-size: $font-size-3;
        color: $base-color;
    }
}

.mid-section {
    height: 46vh;
    background: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    &-1 { background-image: url(../images/salvador-background-1.jpg) }
    &-2 { background-image: url(../images/salvador-background-3.jpg) }
    &-3 { background-image: url(../images/salvador-background-4.jpg) }
}

.cards {
    @extend %display-flex-cc;
    flex-wrap: wrap;
    margin-top: 20px;
    min-height: 80vh;
}

.section-small .cards {
    min-height: 30vh;
}

.card {
    width: 90%;
    max-width: 430px;
    border: 1px solid lightgray;
    border-radius: 4px;
    margin: 5px;
    box-shadow: 0 1px 8px 0px lightgrey;
    
    &-photo {
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center;
    }
    
    &-title {
        font-size: $font-size-1;
        font-family: $font-family-3;
        color: $base-color;
        padding: 12px;
    }
    
    &-content {
        padding: 0 12px 12px 12px;
        font-size: $font-size-2;
        font-family: $font-family-2;
        line-height: 1.4em;
        color: $color-1;
    }
}
//############################################
// State / Condition Styles
//############################################

.underlinable {
    position: relative;
    text-decoration: none;
    
    &:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: -6px;
        left: 0;
        background-color: white;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
}

//############################################
// Components
//############################################

//Timeline
.history-main-title {
    font-size: $font-size-1;
    font-family: $font-family-2;
    color: darken($base-color, 15);
}
.history-tl-container{
    font-family: $font-family-2;
    width:50%;
    margin:auto;
    display:block;
    position:relative;
}
.history-tl-container ul.tl{
    margin:20px 0;
    padding:0;
    display:inline-block;
    
}
.history-tl-container ul.tl li{
    list-style: none;
    min-height:50px;
    /*background: rgba(255,255,0,0.1);*/
    border-left:1px dashed lighten($base-color, 15);
    padding:0 0 50px 30px;
    position:relative;
}
.history-tl-container ul.tl li:last-child{ border-left:0;}
.history-tl-container ul.tl li::before{
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: $base-color;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
    
}
.history-tl-container ul.tl li:hover::before{
    border-color:  $base-color;
    transition: all 1000ms ease-in-out;
}
ul.tl li .item-title{
    margin-bottom: 6px;
}
ul.tl li .item-detail{
    color:rgba(0,0,0,0.5);
    font-size:12px;
}
ul.tl li .timestamp{
    color: #8D8D8D;
    position: absolute;
    width:100px;
    left: -130px;
    top: 7px;
    text-align: right;
    font-size: 12px;
}