header {
    @extend %display-flex-cc;

    height: calc(100vh - #{$nav-height});
    background-color: whitesmoke;
    background-image: url(../images/salvador-background-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;

    * {
        z-index: 1;
    }

    &::before {
        content: " ";
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .2);
        z-index: 0;
    }

    #countdown {
        font-family: digital7;
        font-size: 1.6em;
        font-weight: 600;
        position: absolute;
        bottom: 10%;
        color: $countdown-color;
    }
}