#support {
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;

    h1 {
        width: 100%;
        margin-bottom: 16px;
        margin-top: 16px;
    }

    .support-item {
        margin: 20px 40px;
        max-width: 300px;
    }
}