#support {
    .support-item {
        margin: 20px 40px;
        max-width: 300px;
    }

    .organization-member {
        width: 350px;
        margin: 6px 12px;

        p {
            font-family: $font-family-2;

            &:first-child {
                font-size: 18px;
                color: $base-color;
            }

            &:last-child {
                margin-top: 6px;
                padding-top: 6px;
                font-size: 16px;
                border-top: 2px solid black;
            }
        }
    }
}